@font-face {
  font-family: "a_SimplerDnm";
  src: url(fonts/a_SimplerDnm.woff2) format("woff2");
}

@font-face {
  font-family: "gothampro-regular";
  src: url(fonts/gothampro-regular.woff2) format("woff2");
}

@font-face {
  font-family: "gothampro-mediumitalic";
  src: url(fonts/gothampro-mediumitalic.woff2) format("woff2");
}

@font-face {
  font-family: "gothampro-bolditalic";
  src: url(fonts/gothampro-bolditalic.woff2) format("woff2");
}

.container {
  max-width: 1170px;
  margin: auto;
  height: 1000px;
  position: relative;
}

.body {
  background-color: #222;
  background-image: url(img/pattern.svg);
  background-size: 10vw;
  color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

.header {
  font-family: "gothampro-regular";
  font-size: 10px;
  line-height: 13px;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  z-index: 5;
  list-style-type: none;
  margin-bottom: 70px;
  position: relative;
  z-index: 10;
}

.header__img {
  width: 112px;
  height: 112px;
}

.header-logo {
  margin: auto;
}

.link {
  margin-right: 10px;
  text-decoration: none;
}

.link:nth-last-child(1) {
  margin-right: 0;
}

button {
  border: none;
}

.nowrap {
  white-space: nowrap;
}

.title {
  font-family: "a_SimplerDnm";
  font-size: 44px;
  line-height: 52.8px;
  letter-spacing: 0.05em;
  max-width: 838px;
  margin-bottom: 28px;
}

.title .small {
  font-size: 24px;
  line-height: 28.8px;
}

.green {
  background: -webkit-linear-gradient(#9af668, #bdf86b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.feature {
  padding-left: 3px;
}

.pink {
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 0.05em;
  color: #c45183;
  border: 2px solid #c45183;
  max-width: 774px;
  padding: 10px 15px;
  margin-bottom: 64px;
}

.subtitle {
  font-family: "gothampro-regular";
  font-size: 18px;
  line-height: 25.2px;
  max-width: 683px;
  margin-bottom: 24px;
}

.btn {
  font-family: "gothampro-bolditalic";
  font-size: 12px;
  line-height: 15.6px;
  text-align: center;
  background: linear-gradient(#ca4b90, #632ab6);
  color: #fff;
  padding: 19px 73px;
  border-radius: 10px;
  transform: skew(-10deg);
}

.scew {
  transform: skew(10deg);
}

.btn_bold {
  font-family: "a_SimplerDnm";
  font-size: 20px;
  line-height: 26px;
}

.circle-blur {
  position: absolute;
  background: #c45183;
  opacity: 0.5;
  -webkit-filter: blur(255px);
  filter: blur(255px);
  width: 462px;
  height: 462px;
}

.main-img-bg1 {
  position: absolute;
  top: 9px;
  right: -11px;
}

.main-img-bg2 {
  position: absolute;
  top: 751px;
  left: -5px;
}

.main-subbutton {
  letter-spacing: 0.05em;
  max-width: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: end;
  border: 1px solid #fff;
  padding: 10px 33px 10px 29px;
  margin-left: 250px;
  margin-top: -72px;
}

.main-subbutton__title {
  font-family: a_SimplerDnm;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
}
.main-subbutton__subtitle {
  font-family: gothampro-bolditalic;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.main-woman {
  position: absolute;
  right: -250px;
  top: -6px;
  width: 901px;
  height: 1350px;
  object-fit: contain;
}

.cat {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.div_wrapper {
  position: absolute;
  right: 300px;
  top: 500px;
  rotate: -40deg;
  width: 200px;
  height: 200px;
}

.catpic {
  display: block;
}

.catgif {
  margin-top: -100%;
  display: none;
}

.div_wrapper:hover .catgif {
  display: block;
  margin-top: 0;
}

.div_wrapper:hover .catpic {
  display: none;
}
